# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Database files
*.sqlite3
*.db

# Migrations
migrations/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# Test coverage
.coverage
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Local environment files
*.local

# Dependency directories
pip-wheel-metadata/
__pypackages__/
